<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.ArticleMapper" >

  <resultMap id="BaseResultMap" type="com.djyz.domain.Article" >
    <id column="aid" property="aid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="art_describe" property="artDescribe" jdbcType="VARCHAR" />
    <result column="num_support" property="numSupport" jdbcType="BIGINT" />
    <result column="num_nonsupport" property="numNonsupport" jdbcType="BIGINT" />
    <result column="num_comment" property="numComment" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <association property="customer" javaType="com.djyz.domain.Customer">
      <id column="cust_id" property="custId" />
      <result column="cust_name" property="custName" />
      <result column="password" property="password"/>
      <result column="cust_phone" property="custPhone" />
      <result column="address" property="address"/>
      <result column="header_pic" property="headerPic"/>
    </association>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from article
    where aid = #{aid,jdbcType=BIGINT}
  </delete>

  <!--添加文章-->
  <insert id="insert" parameterType="com.djyz.domain.Article" >
    insert into article (aid, title, art_describe, num_support, num_nonsupport, num_comment, content, customer_id)
    values (#{aid}, #{title}, #{artDescribe}, #{numSupport}, #{numNonsupport}, #{numComment}, #{content},#{customer.custId})
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.djyz.domain.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      art_describe = #{artDescribe,jdbcType=VARCHAR},
      num_support = #{numSupport,jdbcType=BIGINT},
      num_nonsupport = #{numNonsupport,jdbcType=BIGINT},
      num_comment = #{numComment,jdbcType=BIGINT},
      customer_id = #{customer.cust_id},
      content = #{content,jdbcType=LONGVARCHAR}
    where aid = #{aid,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select aid, title, art_describe, num_support, num_nonsupport, num_comment, customer_id,
    content
    from article
    where aid = #{aid,jdbcType=BIGINT}
  </select>

  <!--查询全部文章-->
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT * FROM article aa LEFT JOIN customer cc ON aa.customer_id = cc.cust_id;
  </select>
</mapper>