<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.ComboMapper" >

  <resultMap id="BaseResultMap" type="com.djyz.domain.Combo" >
    <id column="co_id" property="coId" />
    <result column="co_name" property="coName" />
    <result column="co_picture" property="coPicture" />
    <result column="co_type" property="coType" />
    <result column="co_days" property="coDays" />
    <result column="detail_pic1" property="detailPic1" />
    <result column="detail_pic2" property="detailPic2"  />
    <result column="detail_pic3" property="detailPic3"  />
    <result column="detail_pic4" property="detailPic4" />
    <result column="detail_pic5" property="detailPic5" />
    <collection property="shootingLocations" ofType="com.djyz.domain.ShootingLocation" javaType="ArrayList" resultMap="shootingLocationMap"/>
  </resultMap>

  <resultMap id="shootingLocationMap" type="com.djyz.domain.ShootingLocation" >
    <id column="lid" property="lid" jdbcType="BIGINT" />
    <result column="lname" property="lname" jdbcType="VARCHAR" />
    <association property="comboLocation" javaType="com.djyz.domain.ComboLocation">
      <result column="cid" property="cid"/>
      <result column="cid" property="lid"/>
      <result column="combo_price" property="comboPrice"/>
    </association>
  </resultMap>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from combo
    where co_id = #{coId,jdbcType=BIGINT}
  </delete>

  <!--添加套餐-->
  <insert id="insert" parameterType="com.djyz.domain.Combo" useGeneratedKeys="true" keyProperty="coId">
    insert into combo (co_id, co_name, co_picture, co_type, co_desc, detail_pic1, detail_pic2, detail_pic3,
      detail_pic4, detail_pic5)
    values (#{coId,jdbcType=BIGINT}, #{coName,jdbcType=VARCHAR},
      #{coPicture,jdbcType=VARCHAR}, #{coType,jdbcType=BIGINT}, #{coDays,jdbcType=VARCHAR},
      #{detailPic1,jdbcType=VARCHAR}, #{detailPic2,jdbcType=VARCHAR}, #{detailPic3,jdbcType=VARCHAR}, 
      #{detailPic4,jdbcType=VARCHAR}, #{detailPic5,jdbcType=VARCHAR})
  </insert>

  <!--保存套餐和拍摄地点的关系-->
  <insert id="insertComboLocationRel" >
    insert into combo_location (cid, lid) values (#{coId}, #{lid})

  </insert>

  <update id="updateByPrimaryKey" parameterType="com.djyz.domain.Combo" >
    update combo
    set co_name = #{coName,jdbcType=VARCHAR},
      co_picture = #{coPicture,jdbcType=VARCHAR},
      co_type = #{coType,jdbcType=BIGINT},
      coDays = #{coDesc,jdbcType=VARCHAR},
      detail_pic1 = #{detailPic1,jdbcType=VARCHAR},
      detail_pic2 = #{detailPic2,jdbcType=VARCHAR},
      detail_pic3 = #{detailPic3,jdbcType=VARCHAR},
      detail_pic4 = #{detailPic4,jdbcType=VARCHAR},
      detail_pic5 = #{detailPic5,jdbcType=VARCHAR}
    where co_id = #{coId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select co_id, co_name, co_picture, co_type, co_days, detail_pic1, detail_pic2,
    detail_pic3, detail_pic4, detail_pic5
    from combo
    where co_id = #{coId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT *
    FROM combo cc LEFT JOIN combo_location cl ON cc.co_id = cl.cid
    LEFT JOIN shooting_location sl ON cl.lid = sl.lid;
  </select>
</mapper>