<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.ComboOrderMapper" >

  <resultMap id="BaseResultMap" type="com.djyz.domain.ComboOrder" >
    <id column="com_order_id" property="comOrderId"/>
    <result column="price" property="price"/>
    <result column="com_oder_date" property="comOderDate" />
    <result column="start_date" property="startDate" />
    <association property="combo" javaType="com.djyz.domain.Combo">
      <id column="co_id" property="coId" />
      <result column="co_name" property="coName" />
      <result column="co_desc" property="coDesc" />
    </association>
    <association property="customer" javaType="com.djyz.domain.Customer">
      <id column="cust_id" property="custId" />
      <result column="cust_name" property="custName" />
      <result column="password" property="password"/>
      <result column="cust_phone" property="custPhone" />
      <result column="address" property="address"/>
      <result column="header_pic" property="headerPic"/>
    </association>
    <association property="shootingLocation" javaType="com.djyz.domain.ShootingLocation">
      <id column="lid" property="lid" />
      <result column="lname" property="lname"  />
    </association>
    <association property="comboOrderState" javaType="com.djyz.domain.ComboOrderState">
      <id column="os_id" property="osId"  />
      <result column="os_state" property="osState"/>
    </association>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from combo_order where com_order_id = #{comOrderId}
  </delete>

  <!--添加订单-->
  <!--<insert id="insert" parameterType="com.djyz.domain.ComboOrder" useGeneratedKeys="true" keyProperty="comOrderId" >
    insert into combo_order (price, com_oder_date, start_date, shooting_state, combo_id, shootting_location_id, customer_id)
    values (#{price}, #{comOderDate}, #{startDate}, #{comboOrderState.os_id}, #{combo.coId}, #{shootingLocation.lid} , #{customer.custId})
  </insert>-->
  <insert id="insert" useGeneratedKeys="true" keyProperty="comOrderId" >
    insert into combo_order (price, com_oder_date, start_date, combo_id, shootting_location_id, customer_id, shooting_state)
    values (#{price}, #{comOderDate}, #{startDate}, #{coId}, #{lid} , #{custId}, #{shootingState})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.djyz.domain.ComboOrder" >
    update combo_order
    set price = #{price},
      com_oder_date = #{comOderDate},
      start_date = #{startDate},
      combo_id = #{combo.co_id},
      customer_id = #{customer.cust_id},
      shootting_location_id = #{shootingLocation.lid},
      shooting_state = #{comboOrderState.os_id}
    where com_order_id = #{comOrderId}
  </update>

  <!--修改订单状态-->
  <update id="editOrderStateWithId">
    update combo_order set shooting_state = #{osId} where com_order_id = #{comOrderId}

  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT *
    FROM combo_order coo
    LEFT JOIN customer cu ON coo.customer_id = cu.cust_id
    LEFT JOIN combo cc ON coo.combo_id = cc.co_id
    LEFT JOIN shooting_location sl ON coo.shootting_location_id = sl.lid
    LEFT JOIN combo_order_state coss ON coo.shooting_state = coss.os_id
    where com_order_id = #{comOrderId}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT *
    FROM combo_order coo
    LEFT JOIN customer cu ON coo.customer_id = cu.cust_id
    LEFT JOIN combo cc ON coo.combo_id = cc.co_id
    LEFT JOIN shooting_location sl ON coo.shootting_location_id = sl.lid
    LEFT JOIN combo_order_state coss ON coo.shooting_state = coss.os_id

  </select>

  <select id="getComboOrdersWithId" resultMap="BaseResultMap" >
    SELECT *
    FROM combo_order coo
    LEFT JOIN customer cu ON coo.customer_id = cu.cust_id
    LEFT JOIN combo cc ON coo.combo_id = cc.co_id
    LEFT JOIN shooting_location sl ON coo.shootting_location_id = sl.lid
    LEFT JOIN combo_order_state coss ON coo.shooting_state = coss.os_id
    where com_order_id = #{comOrderId}
  </select>

  <!--根据客户id查询订单-->
    <select id="getComboOrderWithCustId" resultMap="BaseResultMap">
      SELECT *
    FROM combo_order coo
    LEFT JOIN customer cu ON coo.customer_id = cu.cust_id
    LEFT JOIN combo cc ON coo.combo_id = cc.co_id
    LEFT JOIN shooting_location sl ON coo.shootting_location_id = sl.lid
    LEFT JOIN combo_order_state coss ON coo.shooting_state = coss.os_id
    where customer_id = #{custId}
    </select>


</mapper>