<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.CommentMapper" >

  <resultMap id="BaseResultMap" type="com.djyz.domain.Comment" >
    <id column="com_id" property="comId" jdbcType="BIGINT" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="com_content" property="comContent" jdbcType="VARCHAR" />
    <association property="customer" javaType="com.djyz.domain.Customer">
      <id column="cust_id" property="custId" />
      <result column="cust_name" property="custName" />
      <result column="password" property="password"/>
      <result column="cust_phone" property="custPhone" />
      <result column="address" property="address"/>
      <result column="header_pic" property="headerPic"/>
    </association>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where com_id = #{comId,jdbcType=BIGINT}
  </delete>

  <!--添加评论-->
  <insert id="insert" parameterType="com.djyz.domain.Comment" >
    insert into comment (com_id, article_id, com_content, customer_id)
    values (#{comId}, #{articleId}, #{comContent}, #{customer.custId})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.djyz.domain.Comment" >
    update comment
    set article_id = #{articleId,jdbcType=BIGINT},
      com_content = #{comContent,jdbcType=VARCHAR},
      customer_id = #{customer.custId}
    where com_id = #{comId,jdbcType=BIGINT}
  </update>

  <!--更新文章评论-->
  <update id="updateArticleCommentAmount" parameterType="com.djyz.domain.Article" >
    update `article` set num_comment = #{numComment} where aid = #{aid}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select com_id, article_id, com_content, customer_id
    from comment
    where com_id = #{comId,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select com_id, article_id, com_content, customer_id
    from comment
  </select>

  <!--根据文章id获取评论-->
    <select id="getCommentsWithAid" resultMap="BaseResultMap">
    SELECT * FROM `comment` cc LEFT JOIN `customer` cu ON cc.customer_id = cu.cust_id WHERE cc.article_id = #{articleId};
    </select>

  <!--根据文章id查询评论数量-->
  <select id="getCommentsAmount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM `comment` WHERE article_id = #{articleId};
  </select>

</mapper>