<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.RentClothesMapper" >
  <resultMap id="BaseResultMap" type="com.djyz.domain.RentClothes" >
    <id column="clo_id" property="cloId" />
    <result column="clo_name" property="cloName"  />
    <result column="clo_price" property="cloPrice"/>
    <result column="clo_picture" property="cloPicture" />
    <result column="clo_amount" property="cloAmount"/>
    <result column="clo_type" property="cloType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rent_clothes
    where clo_id = #{cloId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djyz.domain.RentClothes" >
    insert into rent_clothes (clo_id, clo_name, clo_price, clo_picture, clo_amount, clo_type)
    values (#{cloId}, #{cloName}, #{cloPrice}, #{cloPicture}, #{cloAmount}, #{cloType}
      )
  </insert>
  <!--更新-->
  <update id="updateByPrimaryKey" parameterType="com.djyz.domain.RentClothes" >
    update rent_clothes
    set clo_name = #{cloName},
      clo_price = #{cloPrice},
      clo_picture = #{cloPicture},
      clo_amount = #{cloAmount},
      clo_type = #{cloType}
    where clo_id = #{cloId}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select clo_id, clo_name, clo_price, clo_picture, clo_amount, clo_type
    from rent_clothes
    where clo_id = #{cloId}
  </select>

  <sql id="where_sql">
    <where>
      <if test="keyword != null and keyword != ''">
        and clo_name like concat('%',#{keyword},'%')
        or clo_detail like concat('%',#{keyword},'%')
      </if>
    </where>
  </sql>
  <!--查询全部服装（分页，高级查询）-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select clo_id, clo_name, clo_price, clo_picture, clo_amount, clo_type from rent_clothes
    <include refid="where_sql"/>
    order by clo_id
  </select>


  <!--根据服装分类的id获取服装-->
  <select id="getClothesWithTypeId" resultMap="BaseResultMap">
    select * from rent_clothes where clo_type = #{cloType}
  </select>


</mapper>