<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djyz.mapper.ShootingLocationMapper" >

  <resultMap id="BaseResultMap" type="com.djyz.domain.ShootingLocation" >
    <id column="lid" property="lid" />
    <result column="lname" property="lname"/>
    <result column="shooting_days" property="shootingDays"/>
    <result column="time_limit" property="timeLimit"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shooting_location
    where lid = #{lid,jdbcType=BIGINT}
  </delete>

  <!--插入拍摄地点-->
  <insert id="insert" parameterType="com.djyz.domain.ShootingLocation" useGeneratedKeys="true" keyProperty="lid">
    insert into shooting_location (lid, lname,shooting_days,time_limit)
    values (#{lid}, #{lname}, #{shootingDays}, #{timeLimit})
  </insert>



  <update id="updateByPrimaryKey" parameterType="com.djyz.domain.ShootingLocation" >
    update shooting_location
    set lname = #{lnam}, shooting_days = #{shootingDays}, time_limit = #{timeLimit}
    where lid = #{lid}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select lid, lname, shooting_days, time_limit
    from shooting_location
    where lid = #{lid,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select lid, lname, shooting_days, time_limit
    from shooting_location
  </select>



  <!--在shooting_days_5中增加记录-->
  <insert id="addShootingDays3_location">
    insert into shooting_days_3 (shooting_days_id, shooting_days, shooting_location_id, shooting_times)
    values (#{shootingDaysId}, #{shootingDays}, #{shootingLocationId}, #{shootingTimes})
  </insert>

  <!--在shooting_days_5中增加记录-->
  <insert id="addShootingDays5_location">
    insert into shooting_days_5 (shooting_days_id, shooting_days, shooting_location_id, shooting_times)
    values (#{shootingDaysId}, #{shootingDays}, #{shootingLocationId}, #{shootingTimes})
  </insert>

  <!--在shooting_days_7中增加记录-->
  <insert id="addShootingDays7_location">
    insert into shooting_days_7 (shooting_days_id, shooting_days, shooting_location_id, shooting_times)
    values (#{shootingDaysId}, #{shootingDays}, #{shootingLocationId}, #{shootingTimes})
  </insert>

  <!--在shooting_days_10中增加记录-->
  <insert id="addShootingDays10_location">
    insert into shooting_days_10 (shooting_days_id, shooting_days, shooting_location_id, shooting_times)
    values (#{shootingDaysId}, #{shootingDays}, #{shootingLocationId}, #{shootingTimes})
  </insert>

  <resultMap id="DatesWithId5Map" type="com.djyz.domain.ShootingDays5" >
    <id column="shooting_days_id" property="shootingDaysId" jdbcType="BIGINT" />
    <result column="shooting_days" property="shootingDays" jdbcType="BIGINT" />
    <result column="shooting_location_id" property="shootingLocationId" jdbcType="BIGINT" />
    <result column="shooting_times" property="shootingTimes" jdbcType="BIGINT" />
  </resultMap>

  <!--在day3表中查询可拍摄天数-->
  <select id="getDatesWithId3" resultMap="DatesWithId5Map">
    select * FROM shooting_days_3 WHERE shooting_location_id = #{lid};
  </select>
  <!--在day5表中查询可拍摄天数-->
  <select id="getDatesWithId5" resultMap="DatesWithId5Map">
    select * FROM shooting_days_5 WHERE shooting_location_id = #{lid};
  </select>
  <!--在day7表中查询可拍摄天数-->
  <select id="getDatesWithId7" resultMap="DatesWithId5Map">
    select * FROM shooting_days_7 WHERE shooting_location_id = #{lid};
  </select>
  <!--在day10表中查询可拍摄天数-->
  <select id="getDatesWithId10" resultMap="DatesWithId5Map">
    select * FROM shooting_days_10 WHERE shooting_location_id = #{lid};
  </select>

    <!--在day3表中根据StartDate查询这一行记录-->
  <select id="getDatesWithStartDay3" resultMap="DatesWithId5Map">
      select * FROM shooting_days_3 WHERE shooting_days = #{startDate}
  </select>
  <!--在day5表中根据StartDate查询这一行记录-->
  <select id="getDatesWithStartDay5" resultMap="DatesWithId5Map">
      select * FROM shooting_days_5 WHERE shooting_days = #{startDate}
  </select>
  <!--在day7表中根据StartDate查询这一行记录-->
  <select id="getDatesWithStartDay7" resultMap="DatesWithId5Map">
      select * FROM shooting_days_7 WHERE shooting_days = #{startDate}
  </select>
  <!--在day10表中根据StartDate查询这一行记录-->
  <select id="getDatesWithStartDay10" resultMap="DatesWithId5Map">
      select * FROM shooting_days_10 WHERE shooting_days = #{startDate}
  </select>


  <!--在day3更新次数-->
  <update id="updateShootingTimes3">
    update shooting_days_3
    set shooting_days = #{shootingDays}, shooting_location_id = #{shootingLocationId}, shooting_times = #{shootingTimes}
    where shooting_days_id = #{shootingDaysId}
  </update>
  <!--在day5更新次数-->
  <update id="updateShootingTimes5">
    update shooting_days_5
    set shooting_days = #{shootingDays}, shooting_location_id = #{shootingLocationId}, shooting_times = #{shootingTimes}
    where shooting_days_id = #{shootingDaysId}
  </update>
  <!--在day7更新次数-->
  <update id="updateShootingTimes7">
    update shooting_days_7
    set shooting_days = #{shootingDays}, shooting_location_id = #{shootingLocationId}, shooting_times = #{shootingTimes}
    where shooting_days_id = #{shootingDaysId}
  </update>
  <!--在day10更新次数-->
  <update id="updateShootingTimes10">
    update shooting_days_10
    set shooting_days = #{shootingDays}, shooting_location_id = #{shootingLocationId}, shooting_times = #{shootingTimes}
    where shooting_days_id = #{shootingDaysId}
  </update>



</mapper>